html {
  background-color: #333;
  color: #f7f7f7;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: fit-content;
}

.error {
  color: red;
}
